<div class="inner">
  <div class="title">$ {{t 'app.debug'}}_</div>
  <div class="nav-container">
    <div class="nav">
      {{#each plugins}}
        <div class="nav-item">
          <button class="button-{{name}}" data-name="{{name}}">
            <i class="fa fa-{{icon}}"/>
            {{title}}
          </button>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="view-title"></div>
  <div class="view"></div>
</div>
